# Assignment: Basic Python


```{admonition} Learning Goals
:class: tip

This assignment will verify that you have the following skills:
- Create lists and dictionaries
- Iterate through lists, tuples, and dictionaries
- Index sequences (e.g. lists and tuples)
- Define functions
- Use optional keyword arguments in functions
```

## Part I: Lists and Loops

In this problem, we will explore the basic data structures and flow controls of Python by _manually creating data structures_.


```{warning}
Pluto is [not a planet any more](https://www.loc.gov/everyday-mysteries/item/why-is-pluto-no-longer-a-planet/).
```

### 1) Create a list with the names of every planet in the solar system (in order)

In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2) Have Python tell you how many planets there are by examining your list

In [2]:
print(len(planets))

8

### 3) Use slicing to display the first four planets (the rocky planets)

In [3]:
print('First four planets:', planets[:4])

First four planets: ['Mercury', 'Venus', 'Earth', 'Mars']

### 4) Iterate through your planets and print the planet name only if it has an `s` at the end

In [4]:
for i in range (len(planets)):
    if ((planets[i])[-1]) == "s":
        print(planets[i])

Venus
Mars
Uranus

## Part II: Dictionaries

### 1) Now create a dictionary that maps each planet name to its mass

You can use values from this [NASA fact sheet](https://nssdc.gsfc.nasa.gov/planetary/factsheet/).
You can use whatever units you want, but be consistent.

In [5]:
mass = {'Mercury': 0.330, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102}
#Units in 10^24 kg

### 2) Use your dictionary to look up Earth's mass

In [6]:
mass['Earth']

5.97

### 3) Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg 

Display your result

In [7]:
for planet, m in mass.items():
    if m > 100:
        print(planet, m)

Jupiter 1898
Saturn 568
Neptune 102

### 4) Now add pluto to your dictionary

In [8]:
mass['Pluto'] = 0.013
mass

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.642,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102,
 'Pluto': 0.013}

## Part III: Functions

### 1. Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [44]:
def C_to_K(t):
    return t + 273.15

def K_to_C(t):
    return t - 273.15
    
t=13
print (C_to_K(t))
print (K_to_C(t))

286.15
-260.15

### 2. Write a function to convert temperature to fahrenheit

Include an optional keyword argument to specify whether the input is in  celcius or kelvin.
Call your previously defined functions if necessary.

In [45]:
def temp_to_F(unit, t):
    if unit == 'Celsius':
        return t * 9/5 + 32
    elif unit == 'Kelvin':
        temp_in_celsius = K_to_C(t)
        return temp_in_celsius * 9/5 + 32

### 3) Check that the outputs are sensible

by trying a few examples

In [47]:
print(temp_to_F('Celsius', 25))  
print(temp_to_F('Kelvin', 298.15))

77.0
77.0

### 4) Now write a function that converts _from_ farenheit

and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [49]:
def temp_from_F(t, desired_unit):
    if desired_unit == 'Celsius':
        return (t - 32) * 5/9
    elif desired_unit == 'Kelvin':
        return ((t - 32) * 5/9) + 273.15

print(temp_from_F(77, 'Celsius'))  
print(temp_from_F(77, 'Kelvin'))

25.0
298.15

### 5) Write a function that takes two arguments (feet and inches) and returns height in meters

Verify it gives sensible answers

In [55]:
def imperial_to_meters(feet, inches):
    return ((feet * 12) + inches) * 0.0254

print(imperial_to_meters(5, 11))
print(imperial_to_meters(6, 0))

1.8034
1.8288

### 6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

(Consult the [tutorial on numbers](https://docs.python.org/3/tutorial/introduction.html#numbers) if you are stuck on how to implement this.)

In [66]:
def meters_to_imperial(meters):
    tot_inches = meters * 39.37
    feet = int(tot_inches // 12)
    inches = tot_inches % 12
    return feet, inches

### 7) Verify that the "round trip" conversion from and back to meters is consistent 

Check for 3 different values of height in meters

In [74]:
print(meters_to_imperial(3))
print(imperial_to_meters(9,10.10999999))

print(meters_to_imperial(1.23))
print(imperial_to_meters(4,0.425))

print(meters_to_imperial(1.79))
print(imperial_to_meters(5,10.4723))

(9, 10.109999999999985)
2.999993999746
(4, 0.42509999999999337)
1.229995
(5, 10.47229999999999)
1.78999642